<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <extensions>
      <bindingExtensions>
        <add
        name="rabbitMQBinding"
        type="RabbitMQ.ServiceModel.RabbitMQBindingSection, 
RabbitMQ.ServiceModel, Version=3.3.5.0, Culture=neutral, 
PublicKeyToken=null"/>
      </bindingExtensions>
    </extensions>
    <services>
      <service name="CSharpLibrary.Calculadora">
        <endpoint
        address="soap.amq:///Calculadora"
        binding="rabbitMQBinding"
        bindingConfiguration="rabbitMQConfig"
        contract="CSharpLibrary.ICalculadora"/>
      </service>
    </services>
    <bindings>
      <rabbitMQBinding>
        <binding
        name="rabbitMQConfig"
        hostname="192.168.56.101"
        port="5672"
        username="joao"
        password="joao"
        maxmessagesize="8192"
        protocolversion="AMQP_0_9_1" />
      </rabbitMQBinding>
    </bindings>
  </system.serviceModel>
</configuration>
